
body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: '960px';
    font-size: '18px';

}

header {
    background: #ebebeb;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    
    
}